*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #68ebe6;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #141414;
    padding: 20px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar__link{
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid  transparent;
}

.nav-bar__link:hover{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

main{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border:2px solid rgb(19, 7, 7);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.section-main{
    width: 65%;
    border: 1px solid rgba(131, 62, 16, 0.692);
}

.section-main__title{
    text-align: center;
    margin: 20px 0;
}

.sidebar{
    width: 25%;
    background-color: #68ebe6;
    border: 1px solid rgba(131, 62, 16, 0.692);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.sidebar__widget{
    background-color: rgb(8, 160, 233);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #141414;
    color: #fff;
    padding: 20px;
    text-align: center;
}